* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  @font-face {
    font-family: "acorn";
    src: url("/assets/fonts/acorn.ttf");
  }
  scroll-behavior: smooth;
}

body {
  background-color: #111827;
  place-items: center;
  color: white;
  font-family: "acorn";
}

.circular-text {
  fill: white;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  font-variant-ligatures: none;
  letter-spacing: 6px;
  animation: rotate 25s linear infinite;
  transform-origin: 250px 250px;
}

.circular-text {
  fill: white;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  font-variant-ligatures: none;
  letter-spacing: 6px;
  animation: reverseRotate 10s linear infinite;
  transform-origin: 250px 250px;
}

.circular-text-small {
  fill: white;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  font-variant-ligatures: none;
  letter-spacing: 6px;
  animation: rotate 10s linear infinite;
  transform-origin: 250px 250px;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes reverseRotate {
  to {
    transform: rotate(-360deg);
  }
}

.large-svg {
  position: relative;
}

.small-svg {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
}

.textcircle {
  transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
  transform-origin: 250px 250px;
}

/* svg:hover .textcircle {
    transform: scale(1.2) rotate(45deg);
} */

.circular-Marquee-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.inner-svg-absolute {
  position: absolute;
}

/* ! Loader Ends */

.p-header {
  color: white;
}

.status {
  &.open:before {
    background-color: #2bff00;
    border-color: #2bff00;
    box-shadow: 0px 0px 6px 1px #94e185;
  }

  &:before {
    content: " ";
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    margin-bottom: 4px;
    border: 1px solid #000;
    border-radius: 7px;
  }
}

.technology-known {
  z-index: 444;
}

/* !Header Ends */

.marquee {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: 100px;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  display: flex;
  align-items: center;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}
/* 
  @keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
  } */

.no-scroll .marquee:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* ! Marquee Ends */

div#main\ mt-6 {
  z-index: -100;
  position: relative;
}

#main {
  background-color: #1f2937;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.svg1,
.svg2 {
  width: 100%;
  height: 100vh;
  mask-image: url(./assets/rounded-star.svg);
  mask-size: 0%;
  mask-repeat: no-repeat;
  mask-position: center;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  z-index: 50;
}

.img1 {
  width: 100%;
  height: 100%;
  background-image: url(./assets/Cynthia.png);
  background-size: 130%;
  background-position: center;
}

.img2 {
  width: 100%;
  height: 100%;
  background-image: url(./assets/Holiday100.png);
  background-size: 130%;
  background-position: center;
}

.website-visit-link {
  text-align: center;
  font-size: 50px;
  z-index: 30;
  text-decoration: none;
}

/* Common styles for the link containers */
.link-cont {
  position: absolute;
  display: flex;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  background-color: #64ffda;
  color: black;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  padding: 4px 40px;
}

/* Styles for the first link container */
.one {
  z-index: 30;
}

/* Styles for the second link container */
.two {
  z-index: 20;
  color: rgb(238, 255, 0);
  background-color: red;
}

/* Additional styles for the arrow icon */
i.fa-solid.fa-arrow-right {
  font-size: 35px;
  margin-left: 7px;
  transform: rotate(320deg);
}

.tech-done {
  background: linear-gradient(90deg, #1cd8d2 0%, #93edc7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.special-class .tech-done {
  font-size: xxx-large;
}

.technologies {
  background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.special-class .technologies {
  font-size: xxx-large;
}

.android {
  background: linear-gradient(90deg, #fc4a1a 0%, #f7b733 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.special-class .android {
  font-size: xxx-large;
}

.underline {
  text-decoration: underline;
}

/* ! Main Effect Ends*/

.resume-card:hover .star {
  animation: spin 2s linear infinite;
  /* animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite; */
  transition: ease all 3s;
}
.resume-card .star {
  /* animation: spin 1s linear infinite; */
  /* animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite; */
  transition: ease all 3s;
}

.resume-card:hover .resume-Mline {
  color: #ffc459 !important;
  transition: ease all 1s;
  width: 50px;
}
.resume-card .resume-Mline {
  transition: ease all 0.5s;
}

/* ! Show-case Start */

.show-case {
  width: 100%;
  height: 100%;
  /* background-color: #233831; */
  font-family: "acorn";
  color: black;
}

.show-case .show {
  padding: 10px;
  margin: 30px 0px;
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show-case .show .left {
  width: 58%;
  height: 100%;
  border-radius: 70px;
  transition: all 1s;
  background-color: #d094e5;
  overflow: hidden;
  position: relative;
}
.show-case .show .right {
  width: 38%;
  height: 100%;
  border-radius: 70px;
  transition: all 1s;
  background-color: #bddff9;
  overflow: hidden;
  position: relative;
}

.show-case .show h2 {
  font-size: xx-large;
  font-weight: 600;
  padding: 30px 50px;
  text-align: right;
  width: 100%;
}

.show-case .show img {
  position: absolute;
  left: 10%;
  top: 18%;
  transition: all 0.8s;
}

@media (max-width: 1370px) {
  .show-case .show {
    height: 800px;
  }
  .show-case .show img {
    top: 25%;
  }
  .show-case .show .right {
    width: 50%;
  }
  .show-case .show .left {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .show-case .show {
    height: 700px;
  }
  .show-case .show .right {
    width: 60%;
  }
  .show-case .show .left {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .show-case .show .right {
    width: 80%;
  }
  .show-case .show .left {
    width: 100%;
  }
  .toggle-menu {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .link-cont {
  }
}

.show-case .show .right img {
  position: absolute;
  width: 450px;
  top: 15%;
  transition: all 0.8s;
}

.show-case .show .left:hover {
  scale: 1.006;
  transition: all 0.5s;
  background-color: #d08de8;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.show-case .show .left:hover img {
  transform: translateY(20px);
  transition: all 0.8s;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.409);
}

.show-case .show .right:hover {
  scale: 1.006;
  transition: all 0.5s;
  background-color: #aad7f9;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.show-case .show .right:hover img {
  transform: translateY(20px);
  transition: all 0.8s;
  /* box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); */
}

.show-case .show .left.left2 {
  background-color: #e8b89c;
}
.show-case .show .right.right2 {
  background-color: #a3dcd4;
}
.show-case .show .left.left2:hover {
  background-color: #e8ae8d;
}
.show-case .show .right.right2:hover {
  background-color: #92dcd2;
}

/* ! Show-case Ends */

/* ! About Section Start */
.about-sec {
  text-align: center;
  font-size: 70px;
  padding: 20px 0;
  font-family: "acorn";
}
.testimonial__block-wrapper {
  position: relative;
}
.testimonial__block-wrapper blockquote {
  position: relative;
  z-index: 1;
}
.testimonial__block-wrapper .icon {
  position: absolute;
  top: -2.5em;
  left: -5.5em;
}

@media (min-width: 1024px) {
  .lg\:py-32 {
    /* padding-top: 8rem; */
    padding-bottom: 8rem;
  }
}
/* ! About Section Ends */

/* ! Marquee */

.resume-card {
  position: relative;
  transition: all ease 1s;
}
@media (max-width: 500px) {
  .resume-greet {
    display: none;
  }
}

.marquee {
  display: none;
}

.resume-card:hover .marquee {
  white-space: nowrap;
  position: absolute;
  width: 100%;
  left: 250px;
  background-color: transparent;
  transform: translateY(-50%);
  transform: rotate(75deg);
  display: block;
}

.work:hover .marquee {
  white-space: nowrap;
  position: absolute;
  width: 100%;
  left: 20px;
  background-color: transparent;
  transform: translateY(-50%);
  transform: rotate(75deg);
  display: block;
}
.about:hover .marquee {
  white-space: nowrap;
  position: absolute;
  width: 100%;
  left: 20px;
  background-color: transparent;
  transform: translateY(-50%);
  transform: rotate(75deg);
  display: block;
}
.cont2:hover .marquee {
  white-space: nowrap;
  position: absolute;
  width: 100%;
  left: 20px;
  background-color: transparent;
  transform: translateY(-50%);
  transform: rotate(75deg);
  display: block;
}

.cont2:hover span {
  color: white;
}
.cont2 {
  color: white;
  transition: all ease 1s;
}
.work:hover .marquee {
  white-space: nowrap;
  position: absolute;
  width: 100%;
  left: 20px;
  background-color: transparent;
  transform: translateY(-50%);
  transform: rotate(75deg);
  display: block;
}
.work {
  color: white;
  transition: all ease 1s;
}
.work:hover {
  transition: all ease 1s;
  color: white;
  /* background-color: rgba(0, 232, 70, 0.742); */
  background: radial-gradient(
    circle at center center,
    #bc4e9c 0%,
    #f80759 100%
  );
}
.about:hover .marquee {
  white-space: nowrap;
  position: absolute;
  width: 100%;
  left: 20px;
  background-color: transparent;
  transform: translateY(-50%);
  transform: rotate(75deg);
  display: block;
}
.about {
  color: black;
  transition: all ease 1s;
}
.about:hover {
  transition: all ease 1s;
  color: black;
  background-color: #ff7f7f;
  background: linear-gradient(90deg, #1cd8d2 0%, #93edc7 100%);
}

.resume-card:hover {
  /* background-color: rgba(32, 32, 32, 0.719); */
  color: linear-gradient(90deg, #ed213a 0%, #93291e 100%);
  transition: all ease 1s;
  background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
}
.resume-card:hover .resume-text {
  color: linear-gradient(90deg, #ed213a 0%, #93291e 100%);
  transition: all ease 1s;
}
.cont2:hover {
  /* background-color: rgb(59 130 246 / 0.6); */
  transition: all ease 1s;
  color: white;
  background: radial-gradient(
    circle at center center,
    #bc4e4e 0%,
    #fea455 100%
  );
}

.resume-card:hover #marquee1 {
  transform: translateY(50%);
  transform: rotate(90deg);
  transition: all ease 1s;
}

.resume-card:hover .rev-marquee {
  right: 7%;
  transform: translateY(-50%);
  transform: rotate(255deg);
  transition: all ease 1s;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 6s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  transition: all ease 1s;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: rgb(47, 47, 47);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  transition: all ease 1s;

  /* Position the tooltip */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transition: all ease 1s;
}

/* ! FOOTER Ends */

.social-media-footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
}

.social-media-footer .time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .social-media-footer .time {
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 530px) {
  .social-media-footer .social-links {
    flex-direction: column;
    gap: 0;
  }
}

.wrapyear {
  display: flex;
}

.social-media-footer .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.social-media-footer .social-links a {
  text-decoration: none;
}

.social-media-footer .time-container {
  display: flex;
  gap: 5px;
}

/* ! Social FOOTER Ends */
